@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model WebApplication1.Models.EmployeeModel


@Html.ValidationSummary("",new {@class = "text-danger"})

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.Name) @ViewBag.Error1 &nbsp; @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })</p>

    <p>@Html.LabelFor(model => model.Email) @ViewBag.Error2 &nbsp; @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</p>

    <p>@Html.LabelFor(model => model.Number) @ViewBag.Error3 &nbsp; @Html.TextBoxFor(model => model.Number, new { @class = "form-control" })</p>

    <input class="btn btn-info" type="submit" value="Submit" />
    @Html.Raw(ViewBag.SuccessMessage)
}