@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<LoginAndLogout.Models.Employee>

<p>
    @using (Html.BeginForm("Search", "HandleEmployee", FormMethod.Get))
    {
        <b>Search By: </b>
        <span>@Html.RadioButton("searchBy", "Name", true) @Html.Label("Name")</span> <span>@Html.RadioButton("searchBy", "Email") @Html.Label("Email")</span>
        <br />
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th> </th>
        </tr>
    </thead>
    @if(Model.Count() == 0)
    {
        <tr>
              <p class="text-center">No Rows Found !!</p>
        </tr>
    }
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>
                    <a class="btn btn-primary" asp-controller="HandleEmployee" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="HandleEmployee" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
